/* || Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
}

/* || End Reset */
/* || Global */
h1,
h2,
h3,
h4,
p,
span,
a {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header__logo,
.footer__logo,
.header__logo > a {
  font-family: "Shrikhand", cursive;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* || End Global */
/* || Start Header */
.header__logo {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.274);
  z-index: 1;
}
.header__location {
  height: 50px;
  background: red;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  background-color: #eaeaea;
}
.header__location > * {
  position: relative;
  right: 10px;
}
.header__city {
  margin-left: 18px;
}
.header__searchBloc {
  min-height: 287px;
  text-align: center;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}
.header__title {
  margin: 0 50px;
  margin-bottom: 15px;
}
.header__subtitle {
  margin: 0 30px;
  margin-bottom: 30px;
  font-size: 1em;
}
.header__validation {
  height: 50px;
  border-radius: 50px;
  padding: 0 22px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
}
.header__validation:hover {
  filter: brightness(110%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.503);
  cursor: pointer;
}

/* || End Header */
/* || Start Main */
.operation {
  padding: 50px 20px 25px 20px;
}
.operation__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .operation__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
.operation__listItem {
  position: relative;
  padding: 0 30px;
  border-radius: 20px;
  display: flex;
  flex-grow: 0.2;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  margin: 20px 0;
  margin-left: 10px;
  background-color: #f6f6f6;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.095);
  counter-increment: counterOperations;
}
.operation__listItem::before {
  content: "" counter(counterOperations);
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356dc;
  border-radius: 50px;
  position: absolute;
  left: -10px;
}
.operation__listItem::after {
  content: "";
}
.operation__listItem:hover {
  background-color: #f2eafb;
}
.operation__indication {
  padding: 0 10px;
}

.results {
  padding: 50px 20px 64px 20px;
  background: #f6f6f6;
}
.results__title {
  margin-bottom: 25px;
}

.cards {
  display: grid;
  grid-template-columns: fit-content(335px);
  row-gap: 18px;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .cards {
    grid-template-columns: fit-content(335px) fit-content(335px);
    grid-gap: 60px;
  }
}

.card {
  background-color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.card__img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  display: block;
}
.card__img--downPos {
  object-position: 50% 62%;
}
.card__content {
  display: flex;
  height: 77px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 14px;
}
.card__new {
  background-color: #99e2d0;
  width: 80px;
  height: 29px;
  color: #008766;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
}
.card__like {
  border: none;
  padding: 0;
  background-color: inherit;
  font-size: 25px !important;
  padding-bottom: 8px;
  padding-bottom: 8px;
}
.card__like:hover {
  cursor: pointer;
}
.card__like:focus {
  outline: none;
}
.card__like--bg {
  background-image: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: opacity 1000ms;
}
.card__like--noBg {
  position: absolute;
  z-index: 5;
  background-color: white;
}
.card__like--noBg:hover {
  opacity: 0;
}
.card__like--noBg:hover + .card__like--bg {
  opacity: 1;
}

/* || End Main */
/* || Start Footer */
.footer {
  min-height: 197px;
  padding: 27px 20px;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 992px) {
  .footer {
    text-align: center;
    padding-top: 45px;
  }
}
.footer__logo {
  font-size: 18px;
}
.footer__list {
  line-height: 25px;
  margin-top: 15px;
}
@media screen and (min-width: 992px) {
  .footer__list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
  }
}
.footer__icons.fas {
  width: 22px;
  font-size: 13px;
}

/* || End Footer */
.menupage__img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  object-position: 50% 45%;
}
@media screen and (min-width: 600px) {
  .menupage__img {
    height: calc(250px + 10vw);
  }
}

.header__logo {
  padding-top: 7px;
}
.header__backArrow {
  position: absolute;
  z-index: 2;
  top: 23px;
  left: 23px;
  font-size: 20px;
}

.menu {
  padding: 35px 14px 70px 14px;
  border-radius: 30px;
  background-color: #f6f6f6;
  position: relative;
  margin: -35px auto 0 auto;
  max-width: 600px;
}
@media screen and (min-width: 600px) {
  .menu {
    max-width: calc(600px + 10vw);
    margin-bottom: 95px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-top: -7vw;
  }
}
@media screen and (min-width: 600px) {
  .menu__header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
.menu__header::before {
  content: "";
}
.menu__title {
  font-family: "Shrikhand", cursive;
  margin: 0 8% 0 2%;
  display: inline;
  font-size: 28px;
}
.menu__like {
  border: none;
  padding: 0;
  background-color: inherit;
  font-size: 25px !important;
  padding-bottom: 8px;
}
.menu__like:hover {
  cursor: pointer;
}
.menu__like:focus {
  outline: none;
}
.menu__like--bg {
  background-image: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: opacity 1000ms;
}
.menu__like--noBg {
  position: absolute;
  z-index: 5;
  background-color: white;
}
.menu__like--noBg:hover {
  opacity: 0;
}
.menu__like--noBg:hover + .card__like--bg {
  opacity: 1;
}
.menu__validation {
  height: 50px;
  border-radius: 50px;
  padding: 0 22px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
  margin: 50px auto 0px auto;
  display: block;
}
.menu__validation:hover {
  filter: brightness(110%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.503);
  cursor: pointer;
}

.mealType__title {
  margin-left: 7px;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 24px;
  margin-top: 44px;
  font-weight: 300;
}
.mealType__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -9px;
}

.menuItem {
  background-color: #fff;
  padding: 14px 23px 12px 11px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  opacity: 0;
  animation: itemPop 1s 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  overflow: hidden;
}
.menuItem__header {
  margin-right: auto;
}
.menuItem__header > h4 {
  font-size: 18px;
}
.menuItem__header > p {
  font-size: 15px;
}
.menuItem__header, .menuItem__header > h4, .menuItem__header > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}
.menuItem--delay1 {
  animation-delay: 150ms;
}
.menuItem--delay2 {
  animation-delay: 300ms;
}
.menuItem--delay3 {
  animation-delay: 450ms;
}
.menuItem--delay4 {
  animation-delay: 600ms;
}
.menuItem--delay5 {
  animation-delay: 750ms;
}
.menuItem--delay6 {
  animation-delay: 900ms;
}
.menuItem--delay7 {
  animation-delay: 1050ms;
}
.menuItem--delay8 {
  animation-delay: 1200ms;
}
.menuItem--delay9 {
  animation-delay: 1350ms;
}
.menuItem--delay10 {
  animation-delay: 1500ms;
}
.menuItem__basket {
  background: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  width: 58px;
  margin: -15px;
  margin-right: -81px;
  margin-left: 11px;
  transition: margin-right 0.4s linear;
}
.menuItem__checkIcon {
  color: #99e2d0;
  transform: rotate(-360deg);
  width: 20px;
  height: 20px;
  padding: 4px;
  padding-top: 5px;
  font-size: 12px;
  background-color: white;
  border-radius: 50%;
}
.menuItem:hover {
  cursor: pointer;
}
.menuItem:hover .menuItem__basket {
  margin-right: -23px;
}
.menuItem:hover .menuItem__checkIcon {
  transform: rotate(0);
  transition: transform 0.3s linear;
  transition-delay: 0.1s;
}

@keyframes itemPop {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
