@keyframes showLoader {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-7777px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(95deg);
    }
    50% {
        transform: rotate(173deg);
    }
    75% {
        transform: rotate(278deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes itemPop {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
