@mixin button {
    height: 50px;
    border-radius: 50px;
    padding: 0 22px;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    background: linear-gradient(355deg, $primary-color 0%, $secondary-color 100%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    &:hover {
        filter: brightness(110%);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.503);
        cursor: pointer;
    }
}

@mixin card_style {
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

@mixin heartIcon {
    border: none;
    padding: 0;
    background-color: inherit;
    font-size: 25px;
    padding-bottom: 8px;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &--bg {
        background-image: linear-gradient($primary-color, $secondary-color);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        // opacity: 0;
        transform: scale(0);
        transition: transform 1000ms;
    }
    &--noBg {
        position: absolute;
        z-index: 5;
        // background-color: white;
        &:hover {
            transition: opacity 582.5160079892627ms ease 414.5888780085761ms;
            opacity: 0;
        }
    }
    &--noBg:hover + .card__like--bg {
        opacity: 1;
        transform: scale(1);
    }
}
