/* || Reset || */

/* || End Reset || */

/* || Global || */
$primary-font: "Shrikhand", cursive;
$secondary-font: "Roboto", sans-serif;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

/* || End Global || */
